@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

.top-bar {
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  border-top: 2px solid #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-inline: clamp(10px, 2vw, 20px);
}
.top-bar .top-bar__container {
  max-width: 1100px;
  height: clamp(70px, 9vw, 120px);
  margin-inline: auto;
}
.top-bar .logo {
  display: block;
  width: clamp(45px, 8vw, 75px);
  height: clamp(45px, 8vw, 75px);
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top-bar .util-nav-item:not(:last-child) .util-nav-link::after {
  content: "";
  position: absolute;
  background-color: #555;
  opacity: 0.3;
  width: 1px;
  height: 10px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.top-bar .util-nav-link {
  display: block;
  color: #555;
  font-size: 13px;
  padding-inline: 0.8rem;
  position: relative;
}
.top-bar .util-nav-link:hover {
  text-decoration: underline;
}
.top-bar .util-nav .search-btn {
  width: 34px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.top-bar__depth1-menu [class$=list-item]:hover > a {
  text-decoration: underline;
}
.top-bar__depth1-menu .depth1-list-item:hover .depth1-list-link {
  background-color: #2c2a29;
  color: #669900;
}
.top-bar__depth1-menu .depth1-list-item:hover .mega-menu {
  display: block;
}
.top-bar__depth1-menu .depth1-list-link {
  display: block;
  padding-top: 10px;
  padding-inline: 1.1rem;
  height: 100%;
  font-size: 15px;
  color: #333;
}
.top-bar__depth1-menu .mega-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #2c2a29;
  padding: 0.8rem 0 1.3rem 0;
}
.top-bar__depth1-menu .mega-menu .mega-menu-inner {
  max-width: 1100px;
  margin-inline: auto;
}
.top-bar__depth1-menu .mega-menu .depth2-list-item {
  flex-grow: 1;
}
.top-bar__depth1-menu .mega-menu .depth2-list-item .depth2-list-link {
  display: block;
  padding-block: 0.6rem;
  color: #fff;
}
.top-bar__depth1-menu .mega-menu .depth3-list-item .depth3-list-link {
  color: #999;
  font-size: 14px;
}